.register-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px; /* Add padding to the top if needed */
    background-color: white;
  }
  
  .register-form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin-top: 20px; /* Ensure the form is not flush against the top */
  }
  
  .register-form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .register-form-group input {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-title {
    color: #fff;
    background-color: #ff4b5c;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
  }
  
  .register-button {
    background-color: #ff4b5c;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .register-button:hover {
    background-color: #ff3a4c;
  }
  